h1 {
    color: white;
    text-align: center;
}
input{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
form {
    text-align: center;
}
header {
    background-image: url('src/continuous-road-scenic-with-mountain-ranges-afar-concept.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
}   
select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
/* table */
.info {
    border-collapse: collapse;
    margin: 25px auto 60px auto;
    align-items: center;
    font-size: 0.9em;
    font-family: inherit;
    text-align: center;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.info td {
    padding: 12px 15px;
    color:#313131
}
.info th {
    background-color: rgb(121, 154, 180);
    color: #ffffff;
    text-align: center;
}
.info th,
.info td {
    padding: 12px 15px;
}
.info  tr:last-of-type {
    border-bottom: 3px solid  rgb(121, 154, 180);
}

/* Comment Section */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.oveflow-auto {
    overflow: auto;
}

.container {
    padding: 10px;
    width: 960px;
    margin: 0 auto;
}

/* specific page style */

.input-group {
    overflow: auto;
}

.user-icon {
    width: 10%;
    /* display: inline-block; */
    float: left;
    height: 64px;
    background: url('src/user_icon.jpg') no-repeat center center ;
}

.comment-section {
    margin-top: 15px;
    overflow: auto;
}

.comment-box {
    padding: 15px;
    font-size: 1.1em;
    width: 90%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-box.reply-comment {
    width: 100%;
    padding: 10px;
}

.comment-details {
    width: 90%;
    float: left;
}

.comment-header {
    color: #797979;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.comment-body {
    padding: 5px 0;
    line-height: 150%;
}

.comment-feature {
    color: #909090;
}

.comment-feature > span {
    margin-right: 10px;
}

.comment-feature .reply-btn {
    margin-left: 10px;
    font-size: 0.8em;
}

h3 {
    margin: 1em 0 0.5em 0;
	font-weight: 450;
	font-family: 'Helvetica', sans-serif;
    text-align: center;
	position: relative;  
	font-size: 24px;
    font-style: oblique 40deg;
	line-height: 20px;
	padding: 15px 15px 15px 15px;
	color: #234481;
	box-shadow: 5px 5px 5px rgb(201, 199, 199);
	border-radius: 100px 100px 100px 100px;
    background: linear-gradient(45deg, #78adf3, #58d358);
    
}
h2 {
    text-align: center;
}
#searched_Info {
    text-align: center;
}